# **Actividad Fundamental N.º 4 - Gestión y Normalización de Datos con Python**

## **Instalación de las librerias y la base de datos**

In [1]:
#   Se importan las librerias "pandas" y "scikit-learn" y permitir que el código lea el archivo .csv
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

datos = pd.read_csv("airbnb.csv")

C:\Users\orlan\AppData\Local\Temp\ipykernel_29628\2165051696.py:8: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv("airbnb.csv")

### Revisión de la base de datos

**Esta sección se utilizará regularmente, por lo que solo explicaremos la primera:**

Esto sirve para analizar bien cómo está organizada la tabla, ver si se aplicaron bien los cambios y el tipo de datos que maneja cada columna

*Se pone como sección para poder cerrarla sin problema y que no moleste tanto la tablota*

In [2]:
datos.head()

,id,name,host_id,host_name,city,price,reply time,guest favourite,host since,host Certification,...,total reviewers number,accommodates,bathrooms,bedrooms,beds,listing number,host response rate,host acceptance rate,sales,area
0,1,Beautiful Victorian Home,1368256,Robert,Toronto,250,0.0,0,4563,1.0,...,47,6,"1,5",2,3,1,"0,9","0,42",102,North America
1,2,"World Class @ CN Tower, convention centre, The...",113345,Adela,Toronto,152,0.0,0,5120,1.0,...,42,4,1,1,2,5,"0,9","0,42",166,North America
2,3,Furnished room in lovely Annex house June -Oct31,1466410,Susan,Toronto,120,0.0,0,4534,1.0,...,0,1,1,1,2,2,1,"0,65",181,North America
3,4,Executive Studio Unit- Ideal for One Person,118124,Brent,Toronto,75,1.0,1,5111,1.0,...,29,1,1,0,1,1,1,1,365,North America
4,5,"Bright Beaches Apt, close to everything",175687,John,Toronto,90,0.0,0,5033,1.0,...,7,2,1,1,1,4,1,"0,8",328,North America

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86186 entries, 0 to 86185
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         86186 non-null  int64
 1   name                       86186 non-null  object
 2   host_id                    86186 non-null  int64
 3   host_name                  86186 non-null  object
 4   city                       86186 non-null  object
 5   price                      80762 non-null  object
 6   reply time                 66867 non-null  float64
 7   guest favourite            86186 non-null  int64
 8   host since                 86186 non-null  int64
 9   host Certification         82903 non-null  float64
 10  room_type                  86186 non-null  int64
 11  host total listings count  86186 non-null  int64
 12  consumer                   35421 non-null  object
 13  total reviewers number     86186 non-null  int64
 14  accommodates               86186 non-null  int64
 15  bathrooms                  86186 non-null  object
 16  bedrooms                   86186 non-null  int64
 17  beds                       86186 non-null  int64
 18  listing number             86186 non-null  int64
 19  host response rate         86186 non-null  object
 20  host acceptance rate       86186 non-null  object
 21  sales                      86186 non-null  int64
 22  area                       86186 non-null  object
dtypes: float64(2), int64(12), object(9)
memory usage: 15.1+ MB

## **Corrección del formato de las columnas para que sean compatibles**

In [4]:
#   Toda la tabla utiliza "," en lugar de "."
#   Además de que muchas columnas que deberían ser numéricas están como objetos (strings)

#   La columna "price" Se tiene que cambiar primero a string para poder eliminar los caracteres "$" y "," y finalmente a float

datos['price'] = datos['price'].astype(str)
datos['price'] = datos['price'].str.replace('$', '')
datos['price'] = datos['price'].str.replace(',', '')
datos['price'] = datos['price'].astype(float)

#   Las columnas "consumer", "bathrooms", "host response rate" y "host acceptance rate" solo necesitan cambiar "," por "." y luego a float

datos['consumer'] = datos['consumer'].str.replace(',', '.')
datos['consumer'] = datos['consumer'].astype(float)

datos['bathrooms'] = datos['bathrooms'].str.replace(',', '.')
datos['bathrooms'] = datos['bathrooms'].astype(float)

datos['host response rate'] = datos['host response rate'].str.replace(',', '.')
datos['host response rate'] = datos['host response rate'].astype(float)

datos['host acceptance rate'] = datos['host acceptance rate'].str.replace(',', '.')
datos['host acceptance rate'] = datos['host acceptance rate'].astype(float)

In [5]:
#   Al ver la información de la base de datos, notamos que hay columnas que tienen valores nulos, con la siguiente función quitamos esas filas
#   Guardamos el resultado en una nueva variable: ndf(New data frame)

ndf = datos.dropna()

#   Finalmente, eliminamos las columnas que no aportan información relevante para el análisis o que no se pueden normalizar
ndf = ndf.drop(columns=['id', 'name', 'host_id', 'host_name'])

print(f"Número de filas originales: {len(datos)}")
print(f"Número de filas DESPUÉS de eliminar nulos: {len(ndf)}")

Número de filas originales: 86186
Número de filas DESPUÉS de eliminar nulos: 28574

### Revisión de la nueva base de datos

In [6]:
ndf.head()

,city,price,reply time,guest favourite,host since,host Certification,room_type,host total listings count,consumer,total reviewers number,accommodates,bathrooms,bedrooms,beds,listing number,host response rate,host acceptance rate,sales,area
0,Toronto,250.0,0.0,0,4563,1.0,3,1,6.81,47,6,1.5,2,3,1,0.9,0.42,102,North America
1,Toronto,152.0,0.0,0,5120,1.0,3,5,6.67,42,4,1.0,1,2,5,0.9,0.42,166,North America
2,Toronto,120.0,0.0,0,4534,1.0,2,1,0.00,0,1,1.0,1,2,2,1.0,0.65,181,North America
3,Toronto,75.0,1.0,1,5111,1.0,3,1,6.86,29,1,1.0,0,1,1,1.0,1.00,365,North America
4,Toronto,90.0,0.0,0,5033,1.0,3,1,6.57,7,2,1.0,1,1,4,1.0,0.80,328,North America

In [7]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28574 entries, 0 to 68218
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   city                       28574 non-null  object
 1   price                      28574 non-null  float64
 2   reply time                 28574 non-null  float64
 3   guest favourite            28574 non-null  int64
 4   host since                 28574 non-null  int64
 5   host Certification         28574 non-null  float64
 6   room_type                  28574 non-null  int64
 7   host total listings count  28574 non-null  int64
 8   consumer                   28574 non-null  float64
 9   total reviewers number     28574 non-null  int64
 10  accommodates               28574 non-null  int64
 11  bathrooms                  28574 non-null  float64
 12  bedrooms                   28574 non-null  int64
 13  beds                       28574 non-null  int64
 14  listing number             28574 non-null  int64
 15  host response rate         28574 non-null  float64
 16  host acceptance rate       28574 non-null  float64
 17  sales                      28574 non-null  int64
 18  area                       28574 non-null  object
dtypes: float64(7), int64(10), object(2)
memory usage: 4.4+ MB

## **Creación de Dummies para columnas categóricas**

In [8]:
#   Se utilizó la técnica de One-Hot Encoding para las columnas categóricas "city" y "area" y que se puedan normalizar sin problema
#   Esto crea nuevas columnas binarias (0 y 1) para cada categoría en las columnas originales donde si es 1 significa que pertenece a esa categoría y 0 que no
dumisc = pd.get_dummies(ndf['city']).astype(int)
dumisa = pd.get_dummies(ndf['area']).astype(int)

In [9]:
#   Al utilizar One-Hot Encoding, se crean muchas columnas nuevas, por lo que es necesario agregarlas al data set original y eliminar las columnas originales
#   Se agregan los Dummies en el data set
newndf = ndf.join([dumisc, dumisa])

#   Se eliminan las columnas originales de "city" y "area" porque ya no nos sirven
newndf = newndf.drop(columns=['city','area'])

### Revisión de la nueva base de datos

In [10]:
newndf.head()

,price,reply time,guest favourite,host since,host Certification,room_type,host total listings count,consumer,total reviewers number,accommodates,...,bedrooms,beds,listing number,host response rate,host acceptance rate,sales,NewYork,Toronto,sydney,North America
0,250.0,0.0,0,4563,1.0,3,1,6.81,47,6,...,2,3,1,0.9,0.42,102,0,1,0,1
1,152.0,0.0,0,5120,1.0,3,5,6.67,42,4,...,1,2,5,0.9,0.42,166,0,1,0,1
2,120.0,0.0,0,4534,1.0,2,1,0.00,0,1,...,1,2,2,1.0,0.65,181,0,1,0,1
3,75.0,1.0,1,5111,1.0,3,1,6.86,29,1,...,0,1,1,1.0,1.00,365,0,1,0,1
4,90.0,0.0,0,5033,1.0,3,1,6.57,7,2,...,1,1,4,1.0,0.80,328,0,1,0,1

In [11]:
newndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28574 entries, 0 to 68218
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   price                      28574 non-null  float64
 1   reply time                 28574 non-null  float64
 2   guest favourite            28574 non-null  int64
 3   host since                 28574 non-null  int64
 4   host Certification         28574 non-null  float64
 5   room_type                  28574 non-null  int64
 6   host total listings count  28574 non-null  int64
 7   consumer                   28574 non-null  float64
 8   total reviewers number     28574 non-null  int64
 9   accommodates               28574 non-null  int64
 10  bathrooms                  28574 non-null  float64
 11  bedrooms                   28574 non-null  int64
 12  beds                       28574 non-null  int64
 13  listing number             28574 non-null  int64
 14  host response rate         28574 non-null  float64
 15  host acceptance rate       28574 non-null  float64
 16  sales                      28574 non-null  int64
 17  NewYork                    28574 non-null  int64
 18  Toronto                    28574 non-null  int64
 19  sydney                     28574 non-null  int64
 20  North America              28574 non-null  int64
dtypes: float64(7), int64(14)
memory usage: 5.8 MB

## **Normalización de la Base de Datos**

In [12]:
scaler = MinMaxScaler()
df_normalizado = pd.DataFrame(scaler.fit_transform(newndf), columns=newndf.columns)

### Revisión de la Base de Datos Normalizada

In [13]:
df_normalizado.head()

,price,reply time,guest favourite,host since,host Certification,room_type,host total listings count,consumer,total reviewers number,accommodates,...,bedrooms,beds,listing number,host response rate,host acceptance rate,sales,NewYork,Toronto,sydney,North America
0,0.012006,0.0,0.0,0.794671,0.0,0.666667,0.000000,0.972857,0.040068,0.333333,...,0.111111,0.111111,0.000000,0.9,0.42,0.279452,0.0,1.0,0.0,0.0
1,0.007104,0.0,0.0,0.891675,0.0,0.666667,0.004785,0.952857,0.035806,0.200000,...,0.055556,0.074074,0.000830,0.9,0.42,0.454795,0.0,1.0,0.0,0.0
2,0.005503,0.0,0.0,0.789620,0.0,0.333333,0.000000,0.000000,0.000000,0.000000,...,0.055556,0.074074,0.000208,1.0,0.65,0.495890,0.0,1.0,0.0,0.0
3,0.003252,1.0,1.0,0.890108,0.0,0.666667,0.000000,0.980000,0.024723,0.000000,...,0.000000,0.037037,0.000000,1.0,1.00,1.000000,0.0,1.0,0.0,0.0
4,0.004002,0.0,0.0,0.876524,0.0,0.666667,0.000000,0.938571,0.005968,0.066667,...,0.055556,0.037037,0.000623,1.0,0.80,0.898630,0.0,1.0,0.0,0.0

In [14]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28574 entries, 0 to 28573
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   price                      28574 non-null  float64
 1   reply time                 28574 non-null  float64
 2   guest favourite            28574 non-null  float64
 3   host since                 28574 non-null  float64
 4   host Certification         28574 non-null  float64
 5   room_type                  28574 non-null  float64
 6   host total listings count  28574 non-null  float64
 7   consumer                   28574 non-null  float64
 8   total reviewers number     28574 non-null  float64
 9   accommodates               28574 non-null  float64
 10  bathrooms                  28574 non-null  float64
 11  bedrooms                   28574 non-null  float64
 12  beds                       28574 non-null  float64
 13  listing number             28574 non-null  float64
 14  host response rate         28574 non-null  float64
 15  host acceptance rate       28574 non-null  float64
 16  sales                      28574 non-null  float64
 17  NewYork                    28574 non-null  float64
 18  Toronto                    28574 non-null  float64
 19  sydney                     28574 non-null  float64
 20  North America              28574 non-null  float64
dtypes: float64(21)
memory usage: 4.6 MB

## **Separación en Train / Validation / Test**

In [15]:
columnas = ['reply time','guest favourite','host since','host Certification','room_type','host total listings count','consumer','total reviewers number','accommodates','bathrooms','bedrooms','beds','listing number','host response rate','sales','NewYork','Toronto','sydney','North America']
x = df_normalizado[columnas].values
y = df_normalizado['price'].values

x_train, x_temp, y_train, y_temp = train_test_split(x, y, test_size=0.2, random_state=42)
x_val, x_test, y_val, y_test = train_test_split(x_temp, y_temp, test_size=0.5, random_state=42)

print(f"Tamaño de Training Set: {len(x_train)}")
print(f"Tamaño de Validation Set: {len(x_val)}")
print(f"Tamaño de Testing Set: {len(x_test)}")

print("\nX_train (primeras filas):\n", x_train[:3])
print("y_train:", y_train)

Tamaño de Training Set: 22859
Tamaño de Validation Set: 2857
Tamaño de Testing Set: 2858

X_train (primeras filas):
 [[1.00000000e+00 1.00000000e+00 7.08289794e-01 0.00000000e+00
  6.66666667e-01 0.00000000e+00 9.28571429e-01 3.41005968e-03
  6.66666667e-02 8.69565217e-02 5.55555556e-02 0.00000000e+00
  0.00000000e+00 1.00000000e+00 3.89041096e-01 0.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00]
 [1.00000000e+00 1.00000000e+00 5.90386625e-01 0.00000000e+00
  6.66666667e-01 0.00000000e+00 9.61428571e-01 7.75788576e-02
  6.66666667e-02 8.69565217e-02 5.55555556e-02 3.70370370e-02
  0.00000000e+00 1.00000000e+00 7.01369863e-01 0.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00]
 [1.00000000e+00 1.00000000e+00 4.97039359e-01 0.00000000e+00
  6.66666667e-01 1.19617225e-03 9.77142857e-01 4.51832907e-02
  2.00000000e-01 8.69565217e-02 5.55555556e-02 3.70370370e-02
  2.07598090e-04 1.00000000e+00 6.73972603e-01 0.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00]]
y_train: [0.00330165 0.00735368 0.00725363 ... 0.00430215 0.00350175 0.01075538]

## **Exportar la Base de Datos Normalizada**

In [16]:
df_normalizado.to_csv('airbnb_normalizado.csv', index=False)
print("DataFrame guardado exitosamente como 'airbnb_normalizado.csv'")

DataFrame guardado exitosamente como 'airbnb_normalizado.csv'